@model IEnumerable<ExploreUAEDubai.Models.VisitorDetail>

@{
    ViewData["Title"] = "Visitor Details";
}

<h1 class="text-center heading">Visitor Details</h1>
<hr />
@foreach (var item in Model)
{
    <div class="row">
        <div class="col-md-6">
            <h1>Name: @item.Name</h1>
            <p>Address: @item.Address </p>
            <p>Contact No: @item.ContactNo</p>
        </div>
        <div class="col-md-6">
            <div class="card h-100 border-primary">
                <img src="~/visitor/@item.VisitorDetailID@item.Extension" alt="" style="width:100%">
            </div>
        </div>
    </div>
}

