@model ExploreUAEDubai.Models.VisitorDetail

@{
    ViewData["Title"] = "Add Visitor Details";
}
<h1 class="heading text-center">Add Person Details</h1>
<div class="row">
    <div class="col-md-12">
        <form asp-action="AddVisitorDetail" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactNo" class="control-label"></label>
                <input asp-for="ContactNo" class="form-control" />
                <span asp-validation-for="ContactNo" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="File.FormFile" class="control-label"></label>
                <input asp-for="File.FormFile" type="file" class="form-control">
                <span asp-validation-for="File.FormFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save Visitor Details" class="btn btn-warning" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
