@{
    ViewData["Title"] = "Home Page";
}
<h1 style="text-align:center"> Welcome to Dubai - where anything is possible.</h1>
<br />
<b>This portal allows the permanent residents (not tourists) to get a free pass, that valid for 24 hours, to visit any one Attraction in Dubai.</b> <br /><br />
<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#demo" data-slide-to="0" class="active"></li>
        <li data-target="#demo" data-slide-to="1"></li>
        <li data-target="#demo" data-slide-to="2"></li>
        <li data-target="#demo" data-slide-to="3"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/d1.jpg" alt="Banner 1" style="width:100%;height:500px">          
        </div>
        <div class="carousel-item">
            <img src="~/images/d2.jpg" alt="Banner 2" style="width:100%;height:500px">            
        </div>
        <div class="carousel-item">
            <img src="~/images/d3.jpg" alt="Banner 3" style="width:100%;height:500px">          
        </div> 
        <div class="carousel-item">
            <img src="~/images/d4.jpg" alt="Banner 4" style="width:100%;height:500px">
        </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
<hr />
<div class="row">
    <div class="col-12">
        
        <p class="text-justify">
            Once a small fishing village in the Arabian Gulf, Dubai is today one of the most cosmopolitan cities in the world. One of the seven emirates that make up the United Arab Emirates, Dubai is home to nearly 200 nationalities and offers a truly memorable experience to all visitors. Whether it is by the banks of the Creek, or at the top of the Burj Khalifa, the world’s tallest building, Dubai lives and breathes a sense of possibility and innovation. And with an unparalleled coastline, beautiful desert and magnificent cityscapes, memories are just waiting to be made here.
        </p>
        
    </div>
</div>