@model IEnumerable<ExploreUAEDubai.Models.VisitorDetail>

@{
    ViewData["Title"] = "MyDetails";
}

<h1 class="text-center heading">Visitor Details</h1>
<hr />
@if (Model.Count() == 0)
{
    <p>
        <a asp-action="AddVisitorDetail" class="btn btn-warning">Please Click To Add Your Personal Details</a>
    </p>
}
else
{
    foreach (var item in Model)
    {
        <div class="row">
            <div class="col-md-6">
                <h1>Name: @item.Name</h1>
                <p>Address: @item.Address </p>
                <p>Contact No: @item.ContactNo</p>
            </div>
            
        </div>
    }
}
    